<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Math Result</title>
</head>
<body>
<h2>Here is the result of your calculation</h2>
<p>On <%=a%> and <%=%> </p>
<br>
<br>
<h1><b><%=answer%></b></h1>
</body>
</html>